{% for input in inputs %}
interface {{ input.interface }}
{% if input.mode == "trunk" -%}
switchport mode {{ input.mode }}
switchport trunk allowed vlan {{ input.allowed }}
spanning-tree portfast mode trunk
{% elif input.mode == "access" -%}
switchport mode {{ input.mode }}
switchport access vlan {{ input.vlan }}
spanning-tree portfast
{% else -%}
no switchport
ip address {{ input.address }} {{ input.mask }}
{% endif -%}
{% if input.enabled == "true" -%}
no shutdown
{% else -%}
shutdown
{% endif -%}
{% endfor -%}




